/* Estilos básicos para el contenedor del formulario */
.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
.form {
  display: flex;
  flex-direction: column;
}

.signup {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

fieldset {
  border: 1px solid #555;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
  color: #555;
}

/* Estilos para cada grupo de campos */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form--input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s;
}

.form--input:focus {
  border-color: #007bff;
  outline: none;
}

.form--submit {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form--submit:hover {
  background-color: #0056b3;
}

/* Estilos para las columnas del formulario */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-column {
  flex: 1;
}

.name-inputs {
  display: flex;
  flex-direction: row;
}

.name-column {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

.name-column:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento para evitar desbordamiento */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }

  .form-row {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 10px;
  }
}
